body{
	background-color: #F8F8FF;
}
#nav{
	
	background-color: #008B45;
}
#cadastro{
	position: absolute;
	right: 10px;
}
#login{
	position: absolute;
	right: 130px;
}
#text_banner{
	position: absolute;
	top: 150px;
	right: 50px;
	color: white;
}
#name{
	position: absolute;
	right: 20px;
}